.main {
    grid-area: main;
    background-color: rgb(105, 171, 214);
    display: flex;
    flex-direction: column;
  }

.block {
  display: flex;
}

.avatar {
  width: 400px;
  border: 1px solid black;
}

.avatar img {
  width: 100%;
}

.about {
  width: 100%;
  border: 1px solid red;
  padding-left: 10px;
}