
.nav {
    grid-area: nav;
  background-color: rgb(43, 202, 43);
  text-align: center;
  }
  
 a {
      color: whitesmoke;
      text-decoration: none;
  }

  a:hover {
      color: blueviolet;
  }

  a:active {
      color: rgb(174, 114, 189);
  }

  .nav div {
      margin-top: 15px;
  }

  .active {
      color: rgb(184, 97, 255);
  }